{#
/**
 * @file friend-share-block.html.twig
 * Default theme implementation for showing a user personalized sharing link of a product.
 *
 * This template is rendered by FriendBlock.
 *
 * Available variables:
 * - children: contains the sharing link
 * - block_headline: the headline text
 * - block_description: the description text
 * - option: the campaign option entity
 *
 * @see template_preprocess_friend_share_block()
 *
 * @ingroup themeable
 */
#}
<div class="friend-sharing-block">
  <h2 class="friend-sharing-block__headline">{{ block_headline|default("Recommend this product and get great rewards!"|t) }}</h2>
  {% include "@commerce_recruiting/sharing-link.html.twig" with {
    "share_link": share_link
  } only %}
  <p class="friend-sharing-block__description">{{ block_description|default("Copy your personal referral link and send it to a friend. We'll give you a great bonus for every purchase you make."|t) }}</p>
</div>
