{#
/**
 * @file recruitment-rewards.html.twig
 * Default theme implementation to present reward entity data.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_recruitment_reward()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('recruitment-reward') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
