{#
/**
 * @file recruitment-invoices.html.twig
 * Default theme implementation to present invoice entity data.
 *
 * This template is used when viewing invoice entity pages.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_recruitment_invoice()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('recruitment-invoice') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
