{#
/**
 * @file sharing-link.html.twig
 * Default template for rendering a copy link component.
 *
 * Available variables:
 * - share_link: the sharing link
 * - copy_text: visible text after clicking the copy button
 * - button_label: text of the copy button
 *
 * @see template_preprocess_sharing_link()
 *
 * @ingroup themeable
 */
#}

{{ attach_library('commerce_recruiting/sharing-link') }}
<div class="sharing-link">
  <div class="sharing-link__input-wrapper">
    <input class="sharing-link__input" type="text" value="{{ share_link }}" />
    <div class="sharing-link__copied-message">
      {{ copy_text|default("Copied"|t) }}
    </div>
  </div>
  <button class="js-sharing-link-copy-button">
    {{ button_label|default("Copy Link"|t) }}
  </button>
</div>
